/* Import PrimeIcons */
@import "primeicons/primeicons.css";


/* Fuente estándar global */
:root {
  --p-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

*:not(.pi):not([class^="pi-"]):not([class*=" pi-"]),
*:not(.pi):not([class^="pi-"]):not([class*=" pi-"])::before,
*:not(.pi):not([class^="pi-"]):not([class*=" pi-"])::after {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  margin: 0px;
}